.btn{
  position: relative;/*5 позиционирование кнопки green*/
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #008080;
  color: #fff;
  font: inherit;
  cursor: pointer;
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;/*8*/
}
/*1 before для красного кубика*/
.btn::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;

  /* можно так подставить картинку bg red убрать
  background-image: url();
  background-size: contain;*/

  background-color: red;
/*3*/
  transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*2*/
.btn:hover::before, 
.btn:focus::before{
  transform: translateY(-35px);
}
/*4 для кубика которыей станет на место красного*/
.btn::after{
  position: absolute;/*6*/
  top: 50%;
  left: 30px;
  transform: translateY(calc(-50% + 35px));
  transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);/*6*/

  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
/* можно так подставить картинку bg orange убрать
  background-image: url();
  background-size: contain;*/
  
  background-color: orange;
}
/*7*/
.btn:hover::after,
.btn:focus::after{
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus{
  background-color: #d87093;
}
